{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- TODO: pull title from model -->
  <title>Stream | C404 Social Distribution</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<!-- TODO: get css from static file -->
<body>

<!-- Nav Bar -->
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/">C404 Social Distribution</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <!-- TODO: get friend requests from model -->
      <li class="active"><a href="/friends"><span class="glyphicon glyphicon-user"></span> Friends <span class="badge">2</span></a></li>
      <li><a href="/profile"><span class="glyphicon glyphicon-th"></span> Profile</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/settings"><span class="glyphicon glyphicon-user"></span> Settings</a></li>
      <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
    </div>
  </div>
</nav>
<!-- End Nav Bar -->

<div class="container">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#friends">Friends</a></li>
    <li><a data-toggle="tab" href="#nodes">Nodes</a></li>
  </ul>

  <div class="tab-content">
    <div id="friends" class="tab-pane fade in active">
      <h3>My Friends</h3>
      
      <div class="well">
        <h2>DogeNode</h2>
        <h4>4 Users</h4>
      </div>


    </div>
    <div id="nodes" class="tab-pane fade">
      <h3>My Nodes</h3>
      <p>Node content.</p>
    </div>
  </div>

</div>

</body>
</html>
