{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- TODO: pull title from model -->
  <title>Profile | C404 Social Distribution</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<!-- TODO: get css from static file -->
<body>

<!-- Nav Bar -->
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/">C404 Social Distribution</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <!-- TODO: get friend requests from model -->
      <li><a href="/friends"><span class="glyphicon glyphicon-user"></span> Friends <span class="badge">2</span></a></li>
      <li class="active"><a href="/profile"><span class="glyphicon glyphicon-th"></span> Profile</a></li>
    </ul>
   <ul class="nav navbar-nav navbar-right">
      <li><a href="/settings"><span class="glyphicon glyphicon-user"></span> Settings</a></li>
      <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
    </div>
  </div>
</nav>

<div class="container">
  <!-- Profile Information -->
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        {% if user.is_authenticated %}
          <h1>{{ user.username }}!</h1>
        {% else %}
          <h1>Hello person who is not logged in!</h1>
        {% endif %}
        <div class="row">
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>