body { 
	padding-top: 5%; 
}

h1 {
	font-weight: 100;
}

h3 {
    font-weight: 200;
}

.friends {
    color: #00cc99;
}

.not-friends {
    color: #ff6666;
}

#gitModal
{
    width: 500px; /* your width */
}

#newStuff{
  margin-top: 7%;

}